<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/header.css' %}">
    <link rel="shortcut icon" href="{% static 'icons/CBERMEDIASMOKING.png' %}" type="image/x-icon">
    <title>Добавить товар</title>
</head>
<body>
    {% include 'header.html' %}
    <a class="btn-black" href="/"><img src="/static/images/left-arrow.png">Назад</a>

    <form action="" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="block-create-event" style="animation: 1s show ease;">
            <img class="logo" src="/static/images/Лого-8.png">
            <h1>Добавить товар</h1>
            <div class="content-create-event">
                <div class="start-input">
                    <input type="text" style="width: 400px; margin-bottom: 15px;" class="price-input" name="name" placeholder="Название">
                    <textarea class="more-input" style="margin-left: 20px;" name="description" placeholder="Описание"></textarea>
                </div>
                <div class="input-end" style="margin-left: 0;">
                    <input type="text" class="price-input" style="margin-bottom: 10px;" placeholder="Цена" name="price" min="1">
                    <textarea class="more-input" name="message_upon_receipt" placeholder="Сообщение при получении"></textarea>
                    <input style="margin-top: 10px;" type="file" id="fileUpload" name="image" accept="image/*"/>
                </div>
            </div>
            <button class="btn-base" style="width: 150px; height: 50px; margin-left: 40%; border-color: black;">
                Добавить
            </button>
        </div>
    </form>
</body>
</html>