{% load static %}
<link rel="stylesheet" href="{% static 'css/footer.css' %}">

<footer class="footer">
    <div class="container">
     <div class="row">
       <div class="footer-col">
         <h4>О нас</h4>
         <ul>
           <li><a href="#">О нас</a></li>
         </ul>
       </div>
       <div class="footer-col">
         <h4>Помощь</h4>
         <ul>
           <li><a href="#">FAQ</a></li>
         </ul>
       </div>
       <div class="footer-col">
         <h4>Аккаунт</h4>
         <ul>
           <li><a href="/register">Создать аккаунт</a></li>
           <li><a href="/login">Войти</a></li>
           <li><a href="/profile">Профиль</a></li>
         </ul>
       </div>
       <div class="footer-col">
        <h4>Ивенты</h4>
        <ul>
          <li><a href="/">Все ивенты</a></li>
          <li><a href="/eventsmy">Мои ивенты</a></li>
        </ul>
      </div>
     </div>
    </div>
 </footer>