<header>
    <div class="header">
        <a href="/"><img src="/static/images/Лого-8.png"></a>
        <div class="button">
            <button onclick="redirect('/')">Главная</button>
            <button onclick="document.getElementById('id01').style.display='block'">FAQ</button>
            <button onclick="redirect('/profile')">Аккаунт</button>
            <button onclick="redirect('/shop')">Магазин</button>
            <button onclick="redirect('/private_cabinet')">Личный кабинет</button>
        </div>
    </div>
</header>