<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/registr.css' %}">
    <link rel="stylesheet" href="{% static 'css/header.css' %}">
    <link rel="shortcut icon" href="{% static 'icons/CBERMEDIASMOKING.png' %}" type="image/x-icon">
    <title>Register</title>
</head>
<body>
  {% include 'header.html' %}
  <script src="{% static 'js/redirect.js' %}"></script>
    <form class="form-reg" style="position: absolute;height: 700px; margin-top: 150px;" action="" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <img src="/static/images/Лого-8.png">
        <div class="input">
          <div class="text">
            <label>Логин</label>
          </div>
          <input type="text" placeholder="Логин" name="login">
        </div>
        <div class="input">
            <div class="text">
              <label>Имя</label>
            </div>
            <input type="text" placeholder="Имя" name="first_name">
          </div>
          <div class="input">
            <div class="text">
              <label>Фамилия</label>
            </div>
            <input type="text" placeholder="Фамилия" name="last_name">
          </div>
        <div class="input">
            <div class="text">
              <label>Email</label>
            </div>
            <input type="email" placeholder="Email" name="email">
          </div>
        <div class="input">
          <div class="text">
            <label>Пароль</label>
          </div>
          <input type="password" name="password" placeholder="Пароль" class="psswrd"> 
        </div>
      
        <div class="checkPassword">
            <input style="width: 2rem;" type="checkbox" id="shwpsswrd"><p class="text-Korean">Посмотреть пароль</p>
        </div>
      
        <br>
        <button style="height: 10%;">
          Регистрация
        </button>
        <a href="/login">Войти</a>
      </form>
      <img style="z-index: 0; float: right;left: -50px;" src="/static/BG/Group_102-min.png">
    <script src="{% static 'js/password.js' %}"></script>
</body>
</html>